# Configuration file

sulfur {
    # Defines whether wind affects this pollutant or not. [default: true]
    B:affectedByWind=true

    # Only pollutant blocks within this height around concentration altitude will affect the level of pollution in the current chunk.
    # Required for pollutants capture and storage. [range: 0 ~ 255, default: 16]
    I:cloudHeight=16

    # Defines a color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    #  Affects smog and sky colors. [default: 0xffe5e533]
    S:color=0xffe5e533

    # Defines the altitude which pollutant blocks will concentrate at. [range: -1 ~ 256, default: 127]
    I:concentrationAltitude=127

    # Defines the amount of pollution at which all negative effects will be maximized. [range: 0 ~ 8192, default: 512]
    I:criticalAmount=512

    # Defines a list of dimensions in which this pollutant will not be generated.
    S:dimensionBlackList <
        twilightforest:twilightforest,
        twilightforest:skylight_forest
     >

    # If this list is set, the pollutant will be generated ONLY in listed dimensions, others will be ignored.
    S:dimensionWhiteList <
        minecraft:overworld
     >

    # Defines emission rate for this pollutant. [range: 0.0 ~ 1.0, default: 1.0]
    S:emissionRate=1.0

    # Set to 'false' if you don't need this unit. [default: true]
    B:enabled=true

    # List of materials which can be used to filter this pollutant.
    # Format: materialID, capacity, byproductID
    # <materialID> - the id of the material that will be used to filter this pollutant,
    # <capacity> - how many pollutant blocks each piece of material can filter,
    # <byproduct> - the byproduct of the used filter material.
    S:filterMaterials <
        #minecraft:wool, 8, #forge:dusts/sulfur
     >

    # The lowest number of adjacent gas blocks capable of producing an explosion in the presence of an ignition source.
    # Set to zero to disable explosions. [range: 0 ~ 512, default: 16]
    I:lowerExplosiveLimit=16

    # Defines motion velocity of the pollutant. [range: 0.0 ~ 1.0, default: 0.15]
    S:motionVelocity=0.15

    # List of blocks which this pollutant can pass through.
    S:passableBlocks <
        #minecraft:carpets
        #minecraft:trapdoors
     >

    # Defines the text color for the name of this pollutant. [default: yellow]
    S:textColor=yellow
}


